{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>

  <body>
    <header>
      <nav>
        <div class="logo">
          <h1>Pizza Delivery</h1>
        </div>
        <ul class="nav-links">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'admin:index' %}">Django Admin</a></li>
         <li> <a href="{% url 'custom_admin_login' %}">Admin Login</a></li>
          <li><a href="{% url 'user_login' %}">User Login</a></li>
        </ul>
      </nav>
    </header>
    <footer>c
      <p>&copy; 2024 Pizza Delivery. All rights reserved.</p>
    </footer>
  </body>
</html>
